albumentations
fastapi
Flask
flask_cors
asgiref
numpy
opencv-python
opencv-python-headless
pandas
Pillow
psutil
pydantic
qrcode
scipy
torch
torchvision
tqdm
ultralytics
uvicorn
gunicorn
rich
python-multipart
apscheduler